<app-bottom-section-header [title]="'activity'" [prNotif]="10" [dangerNotif]="0"></app-bottom-section-header>
<ul class="body">
  <app-activity-item
    [name]="'Nina Jones'"
    [task]="'added a new project'"
    [subject]="'Free UI Kit'"
    [time]="'Just now'"
    [image]="'assets/images/profile_placeholder.png'"
  ></app-activity-item>
  <app-activity-item
    [name]="'Nina Jones'"
    [task]="'added a new project'"
    [subject]="'Free UI Kit'"
    [time]="'Just now'"
    [image]="'assets/images/profile_placeholder.png'"
  ></app-activity-item>
  <app-activity-item
    [name]="'Nina Jones'"
    [task]="'added a new project'"
    [subject]="'Free UI Kit'"
    [time]="'Just now'"
    [image]="'assets/images/profile_placeholder.png'"
  ></app-activity-item>
  <app-activity-item
    [name]="'Nina Jones'"
    [task]="'added a new project'"
    [subject]="'Free UI Kit'"
    [time]="'Just now'"
    [image]="'assets/images/profile_placeholder.png'"
  ></app-activity-item>
</ul>
