<div id="aside-wrapper" class="open">
  <aside>
    <img alt="logo" id="logo" src="assets/images/Logo.png"/>
    <ul id="aside__menu">
      <li class="aside__item active">
        <a class="aside__item-link">
          <img class="aside__item-icon" alt="home" title="home" src="assets/images/home_ico.png"/>
          <span>Home</span>
        </a>
      </li>
      <li class="aside__item">
        <a class="aside__item-link">
          <img class="aside__item-icon" alt="workflow" title="workflow" src="assets/images/workflow_ico.png"/>
          <span>Workflow</span>
        </a>
      </li>
      <li class="aside__item">
        <a class="aside__item-link">
          <img class="aside__item-icon" alt="statistic" title="statistic" src="assets/images/statistic_ico.png"/>
          <span>Statistics</span>
        </a>
      </li>
      <li class="aside__item">
        <a class="aside__item-link">
          <img class="aside__item-icon" alt="calendar" title="calendar" src="assets/images/calendar_ico.png"/>
          <span>Calendar</span>
        </a>
      </li>
      <li class="aside__item">
        <a class="aside__item-link">
          <img class="aside__item-icon" alt="users" title="users" src="assets/images/users_ico.png"/>
          <span>Users</span>
        </a>
      </li>
      <li class="aside__item">
        <a class="aside__item-link">
          <img class="aside__item-icon" alt="settings" title="settings" src="assets/images/settings_ico.png"/>
          <span>Settings</span>
        </a>
      </li>

    </ul>
  </aside>
</div>
