@import "../../scss/index";

.item {
  @extend %list-item;
}
.badge {
  @include badge(31px, $pr-2);
  margin-right: 18px;
}
.content {
  .title {
    @include font(13.5px, 500, $dark);
    @extend %elipsis;
  }
  .time {
    @include font(9px, normal, $secondary);
    margin-top: 4px;
    &.danger {
      color: $danger;
    }
    .clock {
      height: 11px;
      display: inline-block;
      margin-right: 4px;
    }
    .time-text {
      vertical-align: top;
    }
  }
}
.ctx-menu {
  width: 31px;
  height: 31px;
  @extend %circle;
  @extend %flex-center;
  background-color: transparent;
  will-change: background-color;
  @include transition(background-color .3s ease);
  margin-left: auto;
  cursor: pointer;
  position: relative;
  &:before {
    $w: 5px;
    @extend %pseudo;
    @extend %circle;
    width: $w;
    height: $w;
    background-color: $secondary;
    left: calc(50% - #{$w/2});
    top: 4px;
    @include box-shadow(0 9px 0 $secondary, 0 18px 0 $secondary);
  }
  &:hover {
    background-color: $light;
  }
}
