$root2: 1.4142135623730951;

// colors
$pr-1: #5584ff;
$pr-2: #5384ff;
$secondary: #8492af;
$bgcolor: #e1e2e5;
$light: rgba(125, 136, 158, 0.3);
$danger: #ff3a76;
$dark: #0e1a35;

// dimentions
$header-h: 80px;
$section-space: 28px;

// screens
$screen-md: 1200px;
$screen-sm: 540px;
