<app-bottom-section-header [title]="'messages'" [prNotif]="2" [dangerNotif]="0"></app-bottom-section-header>
<ul class="body">
  <app-message-item
    [image]="'assets/images/profile_placeholder.png'"
    [name]="'Nina Johes'"
    [time]="'5 Minutes ago'"
    [msg]="'Hey you! its me again :-) I attached new file about the bal bla'"
    [unread]="true"
  ></app-message-item>
  <app-message-item
    [image]="'assets/images/profile_placeholder.png'"
    [name]="'Nina Johes'"
    [time]="'About 20 hours ago'"
    [msg]="'Hey! I attached some new PSD files for the design of a homepage bla bla'"
    [unread]="true"
  ></app-message-item>
  <app-message-item
    [image]="'assets/images/profile_placeholder.png'"
    [name]="'James Smith'"
    [time]="'2 days ago'"
    [msg]="'Good morning, you are fired!'"
  ></app-message-item>
  <app-message-item
    [image]="'assets/images/profile_placeholder.png'"
    [name]="'Nina Johes'"
    [time]="'About 2 weeks ago'"
    [msg]="'Hello! Could you bring me coffee please?'"
  ></app-message-item>
</ul>
