@import "./scss/index";
#main-wrapper {
  display: flex;

}
#main-container {
  width: 100%;

  header {
    height: $header-h;
    background-color: white;
    border-bottom: 1px $secondary solid;
  }

}

