@import "./scss/index";
#main-wrapper {
  display: flex;
  overflow: hidden;
}
#main-container {
  width: 100%;
  position: relative;

  header {
    height: $header-h;
    background-color: white;
    border-bottom: 1px $secondary solid;
  }

}

