@import "../../scss/index";

main {
  min-height: calc(100vh - #{$header-h + 1});
  background-color: $bgcolor;
  padding: $section-space $section-space 0 $section-space;
  @extend %border-box;
}
#title {
  padding: 0;
  margin: 10px 0 $section-space 0;
  font-size: 2em;
  line-height: .75;
}
#upper-cont {
  display: flex;
}
#sales {
  @include upper-section(887, 81.28249566724437%);
  &-wrapper {
    margin-right: $section-space;
  }
}
#report {
  @include upper-section(577, 52.87485907553551%);
}
#bottom-cont {
  display: flex;
}
.bottom-section {
  width: 100%;
  background-color: white;
  margin-bottom: $section-space;
  border: 1px solid $secondary;
  +.bottom-section {
    margin-left: $section-space;
  }
}

