<main>
<h1 id="title">Hello John!</h1>
  <div id="upper-cont">
    <div id="sales-wrapper">
      <div id="sales-cont">
        <div id="sales-content">
          <app-sales></app-sales>
        </div>
      </div>
    </div>
    <div id="report-wrapper">
      <div id="report-cont">
        <div id="report-content">
          <app-report></app-report>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-cont">
    <div class="bottom-section" id="tasks">
      <app-tasks></app-tasks>
    </div>
    <div class="bottom-section" id="messages">
      <app-messages></app-messages>
    </div>
    <div class="bottom-section" id="activity">
      <app-activity></app-activity>
    </div>
  </div>
</main>
